%footer.footer
  .row
    .columns.small-4.small-offset-1
      .footer__logo
        = image_tag 'svg/logo.svg'
        %span
          © 2016 Slider. All rights reserved.
    .columns.small-3.small-offset-3
      .footer__contacts
        .contacts__email
          = image_tag 'svg/mobile.svg'
          %span
            info@slider-boat.ru
        .contacts__phone
          = image_tag 'svg/mobile.svg'
          %span
            +7 (843) 296-22-90