.contain-to-grid.fixed.show-for-large-up
  %nav.top-bar{data: {topbar: ""}}
    %ul.title-area
      %li.name
        %a.navigation{"data-scroll" => "1", href: "#1"}
          = image_tag 'svg/logo.svg'
    %section.top-bar-section
      %ul.left
        %li
          %a.navigation{"data-scroll" => "1", href: "#1"}
            Акции
        %li
          %a.navigation{"data-scroll" => "2", href: "#2"}
            Технические характеристики
        %li
          %a.navigation{"data-scroll" => "3", href: "#3"}
            Комплектация
        %li
          %a.navigation{"data-scroll" => "4", href: "#4"}
            О нас
      %ul.right.call-center
        %li.call-center__phone
          %a
            +79874011886
        %li
          %a.button.callback__button.callback__button--topbar{href:'#', data: {reveal_id: "callback"}}
            Заказать звонок