.contain-to-grid.fixed.show-for-large-up
  %nav.top-bar{data: {topbar: ""}}
    %ul.title-area
      %li.name
        %a.navigation{ "data-scroll" => "", href: "#1"}
          Slider
    %section.top-bar-section
      %ul.left
        %li
          %a.navigation{"data-scroll" => "", href: "#1"}
            Акции
        %li
          %a.navigation{"data-scroll" => "", href: "#2"}
            Технические характеристики
        %li
          %a.navigation{"data-scroll" => "", href: "#2"}
            Комплектующие
        %li
          %a.navigation{"data-scroll" => "", href: "#3"}
            О нас
      %ul.right
        %li
          %a
            +79874011886
        %li
          %a
            Заказать звонок