$topbar-link-text-decoration-hover: underline
$topbar-link-line-height: 1.8
$topbar-link-padding-tb: ($topbar-height - ($topbar-link-line-height * $topbar-link-font-size)) / 2

.contain-to-grid
  
  &.topbar-scroll
    background:
      color: black


.top-bar-section 
  ul 
    li
      &:not(.has-form)
        a
          &:not(.button)
            text-decoration: $topbar-link-text-decoration
            padding-top: $topbar-link-padding-tb
            padding-bottom: $topbar-link-padding-tb
            line-height: $topbar-link-line-height
            
            &:after
              content: ""
              display: block
              margin-left: auto
              margin-right: auto
              width: 0
              height: 1px
              background-color: #FFFFFF
              // -webkit-transition: all 0.3s ease-in-out
              // transition: all 0.3s ease-in-out

            &:hover
              &:after
                width: 100%