.slide.slide-3.slide-3--table.l-section-border-square
  .slide-3__content
    .row
      .columns.small-6.small-centered
        .slide-title.slide-title--white комплектация
    .row
      .columns.small-3.small-offset-1
        %ul.tabs.vertical{data: {tab: ""}}
          %li.tab-title.active
            %a{:href => "#panel1"} Корпус
          %li.tab-title
            %a{:href => "#panel2"} Носовой кокпит
          %li.tab-title
            %a{:href => "#panel3"} Кокпит
          %li.tab-title
            %a{:href => "#panel4"} Опции
      .columns.small-8
        .tabs-content.tabs-content--height-fix
          #panel1.content.active
            %ul
              %li корпус из стеклопластика 6–7 мм. На днище между нижними реданами 10 мм; 
              %li лобовое стекло в алюминиевой раме с центральной открывающейся секцией; 
              %li топливный бак 100 л с системой вентиляции и заливной горловиной; 
              %li помпа откачки подсланевых вод; самоотлив кокпита; 
              %li навигационные огни; 
              %li якорный отсек (самоотливной) в носовой части катера с лючком и замком; 
              %li привальный брус из алюминия, со вставкой из квартопрена; 
              %li полоса бортовая стандартная (красная или синяя); 
              %li нескользящее покрытие опорных поверхностей; 
              %li кнехты; 
              %li прицепное устройство для прицепа в носовой части; 
              %li телескопический трап для купания; 
              %li рым для буксировки лыжника; 
              %li держатели спиннинга 2шт; 
              %li бортовая надпись Slider 175 2шт.
          #panel2.content
            %ul
              %li ковровое покрытие (съёмное); 
              %li 2 сидения c 2 объемными рундуками; 
              %li 2 подстаканника, посадочная ступень. 
              %li обшивка панелей и сидений из морского винила белая со вставками в цвет полосы или корпуса; 
              %li мягкий фартук прохода в носовой кокпит; 
              %li стояночный тент носового кокпита.
          #panel3.content
            %ul
              %li эргономичный пульт управления; 
              %li подстаканники; 
              %li приборная панель с клавишами управления; 
              %li рулевое колесо, обшивка из морского винила белая, хромированные вставки; 
              %li система рулевого управления; 
              %li гнездо прикуривателя; 
              %li ниша для документов; 
              %li бокс под FM; 
              %li аудиоподготовка, морские динамики; 
              %li боковые панели; 
              %li боковые карманы в бортах; 
              %li кресла водителя и пассажира, поворотные, с регулировкой по высоте; 
              %li кормовой диван со ступенями и подстаканниками; 
              %li рундуки под задним диваном с отделениями под аккумулятор, и вещей; 
              %li обшивка панелей и сидений из морского винила белая со вставками в цвет полосы или корпуса; 
              %li ручки из нержавеющей стали; 
              %li ковровое покрытие (съёмное); 
              %li стояночный тент.
          #panel4.content
            %ul 
              %li Ходовой тент  35000 руб.
              %li Окраска:  Перейти
              %li полоса бортовая широкая 10000 руб.
              %li верхняя часть корпуса 12000 руб.
              %li днище 12000 руб.
