.slide.slide-2.l-section-triangle-up
  .slide-2__content
    .row
      .columns.small-6.small-centered
        %h2.slide-title технические характеристики

    .row
      .columns.small-5
        %table
          %tbody
            %tr
              %td
                Длина наибольшая
              %td
                5000  мм.
            %tr
              %td Ширина наибольшая 
              %td 2100  мм.
            %tr
              %td Высота борта на миделе
              %td 870 мм.
            %tr
              %td Высота транца
              %td 510 мм.
            %tr
              %td Масса оборудованного корпуса
              %td 540 кг.
            %tr
              %td Грузоподъемность
              %td 480 кг.
      
      .columns.small-5
        %table
          %tbody
            %tr
              %td Запас топлива
              %td 100 л.
            %tr
              %td Пассажировместимость
              %td 5 чел.
            %tr
              %td Водоизмещение полное
              %td 1210  кг.
            %tr
              %td Максимально допустимая высота волны
              %td 0,6 м.
            %tr
              %td Максимальная мощность двигателя
              %td 100 л.с.
            %tr
              %td Рекомендованная мощность двигателя
              %td 70  л.с.
      .column-divided