.slide.slide-1
  .title
    Slider 210 BR
  .price
    629 900 руб.
  .stock_block
    .fotorama
      = image_tag 'fotorama/slider175_1.jpg'
      = image_tag 'fotorama/slider175_2.jpg'
      = image_tag 'fotorama/slider175_3.jpg'
      = image_tag 'fotorama/slider175_4.jpg'
    -# -if (@text_blocks && @text_blocks[0] && @text_blocks[0].visible)
    -#   .stock
    -#     = @text_blocks[0].text
