.slide.slide-4.l-section-triangle-down
  .slide-4__content
    .row
      .columns.small-6.small-centered
        %h1.slide-title о нас

    .row
      .columns.small-7.small-centered
        .slide-annotation 
          Катера под торговой маркой «Slider» производятся с 2003 года в г. Казань, Россия, и уже хорошо известны и узнаваемы на водных акваториях России.

    .row
      .columns.small-6
        %p
          <strong>Продукция Slider</strong> – это абсолютно оригинальные собственные разработки, учитывающие общемировые тенденции и опыт построения судов для активного отдыха, а так же особенности эксплуатации в российских условиях. Впечатляющая функциональность и надежность конструкции обеспечены максимальной точностью проектирования и тщательностью производства с применением современных технологий и материалов ведущих производителей. Все изделия прошли ходовые испытания и сертифицированы НИИ «ЛОТ» г. Санкт-Петербург.
      .columns.small-6
        %p
          <strong>Фирменный стиль Slider</strong> привлекает органичным сочетанием преемственного функционального дизайна и свежих динамичных линий. Яркий, стильный облик дополняет продуманная эргономика и комфорт объемных кокпитов и кают, эффектная отделка и качественные материалы.
        %p
          <strong>Отличительная черта семейства Slider</strong> - стабильно высокие технические и ходовые характеристики. Быстрый старт и выход на глиссирование, высокая скорость, мягкое прохождение волны. Плавный и ровный ход во всех диапазонах, отзывчивое на руль маневрирование. Настоящее удовольствие за штурвалом.

  = render "partials/footer"